$color-main: #70cb0e;
$color-cards: #a7e1ff;
$color-text: #000000;
$color-cards_animals: #ffffff;
$color-links: #267BDE;
$color-button: #247210;
$color-footer:#dff5b0;
$color-link: #59C3FB;
$color-link_activ:#0ba9fd;


$pk-width: 1920px;
$content-width: 1160px;
$content-width1: 1370px;
$tablet-width: 1200px;
$moblile-big-width: 640px;
$moblile-small-width: 320px;
